/* @media print{ */
    body{
        background-color: transparent;
    }
    img{
        display: none;
    }
    h1{
        text-shadow: none;
        font-size: 40px;
    }
    p{
        color: black;
    }
/* } */