// @mixin important-text {
//   color: red;
//   font-size: 25px;
//   font-weight: bold;
//   border: 1px solid blue;
// }

// .danger {
//   @include important-text;
//   background-color: green;
// }
// .info {
//   @include important-text;
//   background-color: $cyan;
// }

@mixin important-text($color, $bgcolor) {
  color: $color;
  font-size: 25px;
  font-weight: bold;
  border: 1px solid darken($color: $bgcolor, $amount: 20);
  background-color: $bgcolor;
}

.danger {
  @include important-text(red, green);

}
.info {
  @include important-text($blue, $cyan);
}

@mixin gradient($direction: 90deg, $color1: lightgreen, $color2: darkgreen, $color3: lightgreen){
    background-color: red;
    background-image: -webkit-linear-gradient($direction, $color1, $color2, $color3);
    background-image: -moz-linear-gradient($direction, $color1, $color2, $color3);
    background-image: -o-linear-gradient($direction, $color1, $color2, $color3);
    background-image: linear-gradient($direction, $color1, $color2, $color3);
}

.test{
    @include gradient(45deg, red, green, yellow)
}
.test2{
    @include gradient;
}