.alert{
    margin: 10px auto;
    width: 900px;
    padding: 1em;
    background-color: $green;
    color: $white;
    position: relative;
    .close{
        position: absolute;
        right: 10px;
        top: 10px;
        cursor: pointer;
        padding: $padding-sm;
        background-color: darken($green, 10%);
        border: none;

        [dir='rtl'] &{
            left: 10px;
            right: auto;
        }

        &:hover{
            background-color: lighten($color: $green, $amount: 10);
        }
    }
}

